.box{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    /*transform: translate(600px, 250px) rotate(120deg) skew(10deg,10deg) scale(1.5);*/
    animation-name: change-location;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes change-location {
    0%{
        left: 0px;
        top: 0px;
    }
    25%{
        background-color: red;
        left: 200px;
        top: 0px;
    }
    50%{
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75%{
        background-color: pink;
        left: 0px;
        top: 200px;
    }
    100%{
        background-color: yellowgreen;
        left: 0px;
        top: 0px;
    }
}
